*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    /*height: 100vh;*/
    width: 100%;
    font-family: sans-serif;
}

header{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    position: fixed;
    top: 0;
    width: 100%;
}

header .contenedor-logo-menu{
    display: flex;
    align-items: center;
    flex-grow: 1;
}

header .contenedor-logo-menu button{
    margin: 0px 12px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: none;
    border: none;
    cursor: pointer;
}

header .contenedor-logo-menu button i{
    color: #606060;
    font-size: 20px;
}

header .contenedor-logo-menu img{
    width: 60px;
    cursor: pointer;
}

header .contenedor-buscador{
    display: flex;
    align-items: center;
}

header .contenedor-buscador .buscador{
    display: none;
}

header .contenedor-buscador i{
    color: #606060;
    font-size: 20px;
    cursor: pointer;
    margin: 12px;
}


header .contenedor-iconos-header{
    display: flex;
    align-items: center;
}

header .contenedor-iconos-header i{
    font-size: 20px;
    color: #606060;
    margin: 12px;
    cursor: pointer;
}

header .contenedor-iconos-header img{
    width: 30px;
    height: 30px;
    margin: 12px;
    border-radius: 50%;
    cursor: pointer;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 78px;
    z-index: -1;
    margin-top: 15px;
    padding: 0;
}

main .video-principal iframe{
    width: 100%;
    height:50vh;
}

main .video-principal, main .info-video-principal{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

main .info-video-principal h3{
    font-weight: normal;
    color: #333;
}

main .info-video-principal .views-video-principal{
    color: #606060;
    margin: 0;
    font-size: 14px;
    line-height: 20%;
}

main .info-video-principal .iconos-info-video-principal{
    display: flex;
    margin-top: 5px;
    flex-wrap: wrap;
}

main .iconos-info-video-principal button{
    display: flex;
    align-items: center;
    border: none;
    background: none;
    color: #909090;
    font-weight: bold;
}

main .iconos-info-video-principal button i{
    font-size: 18px;
}

main .iconos-info-video-principal button p{
    font-size: 14px;
    color: #606060;
    margin-left: 5px;
    margin-right: 15px;
}

.separador{
    background-color: #e0e0e0;
    width: 100%;
    margin: 10px 0;
    height: 1px;
}

main .info-video-principal .info-autor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: spa;
}

main .info-video-principal .info-autor img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

main .info-video-principal .info-autor .nombre-susc-autor{
    flex-grow: 1;
    margin-left: 20px;
}

main .info-video-principal .info-autor .nombre-susc-autor h4{
    line-height: 20%;
    font-weight: bold;
    color: #333;
}

main .info-video-principal .info-autor .nombre-susc-autor .susc{
    color: #606060;
    margin: 0;
    font-size: 14px;
    line-height: 20%;
}

main .info-video-principal .info-autor button{
    background-color: #c00;
    color: #fef6f6;
    width: 118px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
}

main .info-video-principal .desc{
    display: flex;
    width: 50vw;
    margin-left: 80px;
}

main .sugerencias{
    display: flex;
    flex-direction: column;
}

main .sugerencias .indicaciones-sugerencias{
    display: flex;
    flex-direction: row;
    margin: 12px;
    align-items: center;
}

main .sugerencias .indicaciones-sugerencias .next{
    font-size: 16px;
    margin: 0 12px;
    flex-grow: 1;
}

main .sugerencias .indicaciones-sugerencias .repe{
    color: #606060;
    margin: 0;
    font-size: 12px;
}

main .sugerencias .indicaciones-sugerencias i{
    font-size: 20px;
    margin: 0 12px;
}

main .sugerencias .contenedor-videos-siguientes .video-sugerido .video-img{
    width: 30vw;
    height: 15vh;
    margin: 5px 24px;
    position: relative;
}

main .sugerencias .contenedor-videos-siguientes .video-sugerido .video-img img{
    width: 100%;
    height: 100%;
}

main .sugerencias .contenedor-videos-siguientes .video-sugerido .video-play{
    background: white;
    width: 30px;
    text-align: center;
    height: 30px;
    font-size: 20px;
    border-radius: 100%;
    margin: 24px;
    position: absolute;
    right: calc(50% - 40px);
    top: calc(50% - 40px);
}

main .sugerencias .contenedor-videos-siguientes .video-sugerido .video-play i{
    margin: 4px 9px;
}

main .sugerencias .contenedor-videos-siguientes .video-sugerido .video-img .video-actions{
    /*display: flex;
    flex-direction: column;*/
    display: none;
    font-size: 20px;
    width: 30px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;  
}

main .sugerencias .contenedor-videos-siguientes .video-sugerido:hover main .sugerencias .contenedor-videos-siguientes .video-sugerido .video-img .video-actions{
    display: flex;
    flex-direction: column;
}

main .sugerencias .contenedor-videos-siguientes .video-sugerido .video-img .video-actions i{
    background-color: #fff;
    margin: 3px 5px;
}

main .sugerencias .contenedor-videos-siguientes .video-sugerido{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

main .sugerencias .contenedor-videos-siguientes .video-sugerido .video-datos p{
    font-size: 14px;
    color: #606060;
    margin: 0 0 5px 0;
}

main .sugerencias .contenedor-videos-siguientes .video-sugerido .video-datos{
    margin-right: 12px;
}

@media(min-width: 768px){
    main{
        flex-direction: row;
    }

    main .principal .video-principal, main .principal .video-principal .info-video-principal{
        width: auto;
    }
    main .principal .video-principal .info-video-principal des{
        width: auto;
    }
}

@media(min-width: 1024px){
    main .sugerencias .contenedor-videos-siguientes .video-sugerido .video-img {
        height: auto;
    }
}